<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Pig Latinizer </h1>

    <p> Your phrase in pig latin is: <%= @pig.translate %> </p>

  </body>
</html>
